/* ===== YOUR CSS GOES HERE ===== */
/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

@media screen and (min-width: 300px){
body {
    place-content: center;
    background-color: #ffffff;
    background-image: url("https://cdn.pixabay.com/photo/2021/04/04/23/14/background-6151744_1280.png");
    background-position: center;
    background-attachment: fixed;
    line-height: 1.5;
    min-width: 100%;
    
}
}

@media screen and (min-width: 300px){
p {
    font-size: 2em;
    font-family: 'Abhaya Libre', serif;
    width: 80%;
	margin-left: auto;
	margin-right: auto;
}
}
/*nav bar*/
@media screen and (min-width: 300px){
nav{
    background-color: #7a6eec;
}

li{
    list-style: none;
}

.navmenu .item a{
    color:#ffffff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    height: 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    position: fixed;
    left: 0; 
    top: 0; 
    width: 100%;
    z-index: 100000;
}

.navbar:first-child{
    text-transform: uppercase;
}

.navbar a{
  color:#ffffff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.navmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.navbranding{
 font-size: 1.25rem;
}

.navlink{
    transition: 0.7s ease;
}

.navlink:hover{
 background-color: #ffffff;
 color:#7a6eec;
}
}

@media screen and (min-width: 300px){
h1{
    font-family: 'Chewy', cursive;
    font-size: 80px;
    color: #7a6eec;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 3px 6px 1px #ffffff;
    text-transform: uppercase;
}
}

@media screen and (min-width: 300px){
header img{
width: 700px;
height: auto;
 border-radius: 13px;
}


.AE{
  width: 50%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 13px;
}
}


@media screen and (min-width: 300px){
/*downarrow*/
.downarrow{
    color:#7a6eec;
    text-align: center;
    animation: fadeIn 2s;
    animation-iteration-count: infinite;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% { opacity: 1; }
}
}

@media screen and (min-width: 300px){

  .paw{
    display: flex;
    flex-direction: row;
    row-gap: 40px;

  }
.paw > img{
  display:flex;
  width: 5%; 
 margin-left: 40px;
 margin-right: 40px;
}
}

@media screen and (min-width: 300px){
h2{
    font-family: 'Chewy', cursive;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #7a6eec;
    text-shadow: 3px 6px 1px #ffffff;
    margin: 100px;
}
header>p{
    font-size: 35px;
    max-width: 60%;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
    
}
}
/*scroller
@media screen and (min-width: 480px){
#scroller{
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    position:fixed;
    left: 0px;
    padding-left: 1px;
    bottom: 0px;
}
}

#scroller a {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  margin: 10px;
  border: 2px solid #7a6eec;
}

.active {
  background: #7a6eec;
 
}

*/

/*section 1*/

@media screen and (min-width: 300px){
.about{
    display: flex;
    align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  
}
}

@media screen and (min-width: 300px){
.about figure img {
    display:fixed;
    width: 500px;
    height:auto;
    margin-left: 1em;
	margin-right: 0;
	margin-bottom:1em;
	margin-top:1em;
  border-radius: 13px;
    animation: fadeIn 10s;
    animation-iteration-count: 3;
 }
 
@keyframes fadeIn {
    0% {opacity: 0;}
    100% { opacity: 1; }
  }
}
.text>p{
    font-size: 25px;
    line-height: 1.2;
    padding-left: 20px
}

/*readmore btn*/
@media screen and (min-width: 300px){
.readmore{
    display: none;
}

.explore-more-btn{
    padding: 15px 60px;
    font-family: 'Poppins', sans-serif;
    background-color: #7a6eec;
    color: #ffffff;
    border: none;
    border-radius: 13px;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    max-width:700px;
    margin-left:auto;
    margin-right:auto;
      display: flow-root;
      position: relative;
      text-align: center;
}

.explore-more-btn:active{
  outline: none;
  background-color: #8c52ff;
  box-shadow: 3px 4px 5px #ffffff;
  transform: translateY(4px);
}
.text.show-more .readmore{
    display: inline;
}

.text.show-more .dots{
    display: none;
}
}

/* section 2 history*/
/*timeline*/
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #7a6eec;
    top: 0;
    bottom: 0;
    left: 50%;
    right:50%;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -15px;
    background-color: lightblue;
    border: 4px solid #7a6eec;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50.5%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 21px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid lightblue;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent lightblue;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 21px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent lightblue transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: lightblue;
    position: relative;
    border-radius: 6px;
    font-size: 10px;
  }

  .content h3{
    font-family:'Chewy', cursive;
    text-transform: uppercase;
    font-size:23px;
    text-align: center;
    color: #7a6eec;
    text-shadow: 3px 2px 1px #ffffff;
  }
  
  /* Media queries - Responsive timeline */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid lightblue;
      border-width: 10px 10px 10px 0;
      border-color: transparent lightblue transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }

  /*section 3 traits&characteristics*/
  
  @media screen and (min-width: 300px){
  .characteristics{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 0 200px;
    gap: 20px;
  }

  .click{
    text-align: center;
    font-size: 20px;
    color: #7a6eec;
    font-weight: bold;
    text-shadow: 5px 4px 5px #ffffff;
  }
  }
/*star rating*/
@media screen and (min-width: 300px){
  .items{
  display: block;
  font-size:10px;
  text-align: center; 
  color: #7a6eec;
  }

  .checked{
    color: lightpink;
  }
  
  .items>button{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #7a6eec;
    font-weight: bold;
    padding: 0.75rem;
    background-color: #ffffff;
    box-shadow: 0.5rem 0.5rem #7a6eec;
    border: none;
    outline: none;
    cursor: pointer;
    max-width:700px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 100px;
      display: flow-root;
      position: relative;
      text-align: center;
}
}
@media screen and (min-width: 300px){
#physical{
  display: none;
  font-size: 13px;
}
#social{
  display: none;
  font-size: 13px;
}
#personality{
  display: none;
  font-size: 13px;
}
#family{
  display: none;
  font-size: 13px;
}
}
/*care*/
@media screen and (min-width: 300px){
.best{
  text-transform: uppercase;
  font-size: 55px;
}
}
@media screen and (min-width: 300px){
section>.containers{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width:90%;
  margin: auto;
}

.tip>h3{
  text-align: center;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #7a6eec;
  font-weight: bold;
  padding: 0.75rem; 
  background-color: #ffffff;
  box-shadow: 0.5rem 0.5rem #7a6eec;
  width:170px;
  margin-left: auto;
  margin-right: auto;
}

.tip{
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.tip:last-child{
  background-color: lightpink;
  border-radius: 15px;
}
.tip:first-child{
  background-color: lightpink;
  border-radius: 15px;
}
.tip:nth-child(2){
  background-color: lightblue;
  border-radius: 15px;
}
.tip:nth-child(3){
  background-color: lightblue;
  border-radius: 15px;
}
}
/*quiz section*/

@media screen and (min-width: 300px){
.quiz{
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
} 
@media screen and (min-width: 300px){
 .eskie-img{
  width: 100%;
  height: auto;
  border-radius: 13px;
 } 
}
}
  /*display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width:80%;
  **/


/*@media screen and (min-width: 480px) { 
.quiz_img{
  width: 100px;
  height: auto;
}
}
*/


@media screen and (min-width: 300px){
.quiz_content button{
  padding: 15px 60px;
    font-family: 'Poppins', sans-serif;
    background-color: #7a6eec;
    border: none;
    border-radius: 13px;;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    max-width:700px;
    margin-left:auto;
    margin-right:auto;
      display: flow-root;
      position: relative;
      text-align: center;
}

.quiz_content button a{
  text-decoration: none;
  color: #ffffff;
}

.quiz_content button:active{
  outline: none;
  background-color: #8c52ff;
  box-shadow: 3px 4px 5px #ffffff;
  transform: translateY(4px);

}
}
@media screen and (min-width: 300px){
.quiz h2{
  text-transform: lowercase;
}
}


/*.section_aa{
  background-image: url("https://cdn.pixabay.com/photo/2021/03/31/16/35/clouds-6139980_1280.png");
  background-position: center;
  background-attachment: fixed;

}
*/
@media screen and (min-width: 300px){
.section_a{
  background-image: url(https://cdn.pixabay.com/photo/2021/03/31/16/35/clouds-6139982_1280.png);
  background-position: center;
  background-attachment: fixed;
}



.section_c{
  background-image: url("https://cdn.pixabay.com/photo/2021/03/31/16/35/clouds-6139980_1280.png");
  background-position: center;
  background-attachment: fixed;

}


footer{
  background-image: url("https://cdn.pixabay.com/photo/2021/03/31/16/35/clouds-6139982_1280.png");
  background-position: center;
  background-attachment: fixed;
}
}